@use "../../sass/" as *;

.pin {
  width: 100%;
  margin-bottom: 2rem;
  overflow: hidden;
  cursor: zoom-in;
  position: relative;

  &__actions {
    position: absolute;
    display: none;
    top: 2%;
    right: 3%;
    z-index: 10;

    .pin-save {
      padding: 10px 16px;
      font-size: 15px;
      border-radius: 30px;
      background-color: rgb(166, 27, 27);
      color: #fff;
      cursor: pointer;

      &.active {
        background-color: black;
      }
    }

    .pin-download {
      padding: 8px;
      border-radius: 50%;
      background-color: rgb(166, 27, 27);
      color: #fff;
    }
  }

  &__info {
    color: $text-color;
    margin: 10px 0;
    cursor: zoom-in;
  }

  &__img {
    border-radius: $border-radius;
    width: 100%;
    object-fit: cover;
    transition: 0.2s ease-in-out;
    cursor: zoom-in;
  }

  &:hover {
    .pin__actions {
      display: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    img {
      opacity: 0.6;
    }
  }
}
